<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header class_header">
                    <h4 class="title">Projects Table</h4>
                    <p class="category">All the projects you have been contributed.</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>

                      </thead>
                          <!-- <tr *ngFor="let row of tableData2.dataRows">
                              <td *ngFor="let cell of row">{{cell}}</td>
                          </tr> -->


                        <tbody>
                           <!-- <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr> -->
                           <div class="row">
                               <!-- Add the extra clearfix for only the required viewport -->
                               <div class="clearfix hidden-sm-up"></div>

                               <div class="col-4 col-sm-4">Project Name</div>
                               <div class="col-4 col-sm-4">Number of Members</div>
                               <div class="col-4 col-sm-4">Group State</div>
                           </div>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!-- <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Project on Plain Background</h4>
                    <p class="category">Here is a subtitle for this projectList</p>
                </div>
                <div class="content projectList-responsive projectList-full-width">
                    <projectList class="projectList projectList-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </projectList>
                </div>
            </div>
        </div> -->
    </div>
</div>
