<div class="container-fluid">
    <div class="card card-map">
        <div class="header card-header">
            <h4 class="title">Your All Group Activities</h4>
        </div>
        <div class="content card-body">
          <div class="container">
            <div data-role="page" id="page1">
              <div role="main" class="ui-content ">
                  <p class="col-md-4 col-sm-4 col-4">Group Name</p>
                  <p class="col-md-4 col-sm-4 col-4">Project Name</p>
                  <p class="col-md-4 col-sm-4 col-4">Number of Members</p>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
