<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://github.com/WimukthiRajapaksha">
                        <i class="fab fa-github"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://mail.google.com/mail/u/0/#inbox">
                        <i class="far fa-envelope"></i>
                       Gmail
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/wimukthi-rajapaksha-b49726135/">
                        <i class="fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <strong>Wimukthi Rajapaksha</strong> 
        </div>
    </div>
</footer>
